@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
}

.header,
.hero,
.footer {
    background-color: #1f2937;
    color: white; /*change later!*/
}

.header {
    display: flex;
    justify-content: space-evenly;
    padding: 25px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

.hero {
    display: flex;
    justify-content: center;
    padding: 50px;
    align-items: center;
    gap: 28px;
}

.herotext {
    display: flex;
    flex-direction: column;
    width: 450px;
}

.awe {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.herotext p {
    font-size: 18px;
    color: #e5e7eb;
    padding-bottom: 15px;
}

button {
    background-color: #3882f6;
    padding: 8px 16px;
    border-radius: 8px;
    border: 1px solid #3882f6;
    color: white;
    font-weight: 400;
    font-size: 16px;
}

button.awe-sign {
    width: 33%;
}

.hero img {
    height: 20%;
    width: 25%;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 58px;
    gap: 25px;
    margin-bottom: 50px;
}

.infohead {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.content {
    display: flex;
    gap: 15px;
    text-wrap: wrap;
}

.infoimg {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.infoimg img {
    width: 75%;
    height: auto;
    align-self: center;
}

.infoimg p {
    margin-top: auto;
    text-align: center;
}

.grey {
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    padding: 50px;
}

.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 48px;
    width: 800px;
}

.quote p {
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
    font-weight: 300;
}

.thor {
    align-self: flex-end;
    font-weight: bold;
    margin-right: 35px;
}

.call {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 48px;
}

.to {
    background-color: #3882f6;
    width: 800px;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    padding: 28px;
    color: #f9faf8;
}

.action div {
    font-size: 18px;
    font-weight: bold;
}

button.call-to {
    border: 1px solid #f9faf8;
}

.footer {
    text-align: center;
    color: #e5e7eb;
    padding: 25px;
}